@model List<_2C2P.Database.Transaction>

<style>
    .custom-validation-summary ul {
        list-style-type: none;
        color: red;
        padding: 0;
    }
</style>

<div class="jumbotron">
    <h1>2C2P - Bharat Thanki</h1>
    <p class="lead">Software Architect Technical Assignment</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Upload File CSV / XML</h2>

        @using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div style="padding-left:20px">
                <div class="form-group" style="padding-top:20px">
                    <input type="file" id="dataFile" name="upload" />
                </div>

                <div class="form-group">
                    <button type="submit" name="btn" value="Upload" class="btn btn-success">Upload</button>
                    <button type="submit" name="btn" value="Refresh" class="btn btn-warning">cancel</button>
                </div>
            </div>

            <div class="text-danger">
                @Html.ValidationSummary()
            </div>

            if (Model != null)
            {
                <table class="table table-bordered col-md-12" style="margin-top:40px">
                    <thead>
                        <tr>
                            <th>Transaction Id</th>
                            <th>Amount</th>
                            <th>Currency Code</th>
                            <th>Transaction Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TransactionID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                            <td>@Html.DisplayFor(modelItem => item.CurrencyCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>

<div class="container" style="padding:0; padding-top:40px">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">API by Currency</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">/api/Transactions?currency=USD</div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">API by Date Range</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">/api/Transactions?daterange=ddMMyyyy-ddMMyyyy</div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">API by Status</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">/api/Transactions?status=A</div>
            </div>
        </div>
    </div>
</div>